.button.active {
  transform: rotate(-90deg);
}
.nav.active {
  display: block;
  animation: 0.5s forwards show-up;
  background: white;
}

.header div p {
  transition: 0.5s;
}

.nav a:hover {
  color: #6e07f3;
}

@keyframes show-up {
  from {
    margin-top: 50px;
  }
  to {
    margin-top: 100px;
  }
}
