body,
h1,
h2,
p,
ul,
li,
a,
nav,
span {
  margin: 0px;
  font-weight: 0;
  padding: 0px;
}
a {
  text-decoration: none;
  display: block;
}
img {
  width: 100%;
  display: block;
}
li {
  list-style: none;
}

.containerGeral {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
}

.upContainer {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  background: #fff;
  border-bottom: solid 4px #daa520;
}
.nav {
  margin-top: 20px;
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: #fff;
  border-radius: 5px;
}
.menu {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.menu a {
  font-size: 1.2rem;
  padding: 6px 10px;
  color: #daa520;
  font-weight: bold;
  font-family: monospace;
}
.menu a:hover {
  background: #222;
  border-radius: 5px;
}

.dev {
  font-size: 1.5rem;
  color: #222;
  font-weight: 800;
  font-family: "Courier New", Courier, monospace;
}
.dev2 {
  display: none;
}

.biografia {
  margin: 0;
  margin-top: 20px;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.sobreMim {
  margin: 0;
}
.sobreMim h1 {
  font-size: 3.5rem;
  font-weight: 800;
  color: #222;
  font-family: monospace;
}
.sobreMim p {
  margin: 0;
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: 100;
  color: #222;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
  word-spacing: 4px;
  font-family: monospace;
}
.sobreMim a {
  margin-top: 30px;
  display: inline-block;
  font-family: monospace;
  border-radius: 5px;
  color: #222;
  font-weight: bold;
  font-family: monospace;
}
.sobreMim span {
  color: #daa520;
  font-weight: bold;
  font-family: monospace;
}
.mais-de-mim {
  font-size: 1rem;
  font-weight: bold;
  color: #222;
}

.foto {
  width: 400px;
}
.foto img {
  width: 300px;
  border-radius: 50%;
}
.experiencia {
  margin-top: 20px;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.titulo {
  font-size: 3.5rem;
  font-family: monospace;
  color: rgb(34, 34, 34);
  display: flex;
  align-self: center;
}
.projetos {
  display: grid;
  gap: 10px;
}

.projetos span {
  color: #daa520;
}
.projetos div {
  background: #fff;
  border-radius: 5px;
}
.projetos h2 {
  color: #222;
  margin: 0;
}
.projetos p,
div {
  color: #222;
  margin: 0;
  margin-top: 10px;
}
.link-do-projeto {
  display: flex;
  gap: 5px;
}
.link-do-projeto a {
  color: #daa520;
  font-family: monospace;
  font-weight: bold;
}
.link-do-projeto span {
  color: #222;
}
.formacao {
  margin-top: 50px;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.titulo-formacao {
  grid-column: 2/3;
  grid-row: 1;
  font-size: 3.5rem;
  font-family: monospace;
  color: rgb(34, 34, 34);
  display: flex;
  align-self: center;
  justify-content: center;
}
.cursos {
  grid-column: 1/2;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.java-script-origamid,
.html-e-css-origamid,
.analise-e-dev {
  font-size: 0.7rem;
  background: #fff;
  box-sizing: border-box;
  border-left: 2px solid transparent;
}
.java-script-origamid:hover {
  border-left: solid 2px rgb(129, 2, 248);
}
.html-e-css-origamid:hover {
  border-left: solid 2px rgb(129, 2, 248);
}
.analise-e-dev:hover {
  border-left: solid 2px #20ceda;
}
.java-script-origamid h1,
.html-e-css-origamid h1,
.analise-e-dev h1,
h2,
p {
  margin: 10px;
}
.java-script-origamid h1,
.html-e-css-origamid h1 {
  color: rgb(129, 2, 248);
  font-weight: bold;
  font-family: monospace;
}
.java-script-origamid h2,
.html-e-css-origamid h2 {
  color: #222;
  font-weight: bold;
  font-family: monospace;
}
.analise-e-dev h1 {
  color: #20ceda;
  font-weight: bold;
  font-family: monospace;
}
