.button {
  display: none;
  position: relative;
  z-index: 1001;
}

@media (max-width: 950px) {
  .dev {
    display: none;
  }

  .foto-header {
    display: block;
    width: 88px;
    border-radius: 50%;
    margin-left: 50px;
  }
  .js .button {
    display: flex;
    background: rgb(10, 10, 10);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    align-items: center;
  }

  .js .button::before {
    margin-right: 4px;
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background: #fff;
    box-shadow: 0 4px #fff, 0 -4px #fff;
    transition: transform 0.3s;
  }
  .button.active::before {
    transform: rotate(90deg);
  }
  .js .header-menu {
    display: none;
    position: absolute;
    background: #222;
    z-index: 1000;
    right: 0;
    top: 0px;
    padding: 60px 0 0px 0;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.2);
  }
  .js .header-menu.active {
    display: block;
    animation: show-top 0.3s forwards;
  }

  @keyframes show-top {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .header-menu a {
    padding: 10px 0px;
    margin-left: 4px;
    border-bottom: solid 2px #222;
  }
}
