.button {
  display: none;
}
@media (max-width: 950px) {
  .containerGeral {
    display: grid;
    /* grid-template-columns: 50px 1fr 50px; */
  }

  .button {
    display: flex;
    background: #222;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: #daa520;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    position: relative;
    z-index: 300;
  }
  .button::before {
    margin-right: 4px;
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background: #daa520;
    box-shadow: 0 4px #daa520, 0 -4px #daa520;
    transition: transform 0.3s;
  }
  .button.active::before {
    transform: rotate(90deg);
  }
  .menu {
    display: none;
    position: absolute;
    background: #fff;
    width: 150px;
    z-index: 200;
    top: 20px;
    padding: 100px 0 20px 0;
    box-shadow: 1px 0px 0px 0px #daa520;
    border-radius: 5px;
  }

  .menu.active {
    display: block;
    animation: show-up 0.3s forwards;
  }
  @keyframes show-up {
    from {
      opacity: 0;
      margin-top: -30px;
      background: transparent;
    }
    to {
      opacity: 1;
      margin-top: 0;
      background: #fff;
    }
  }

  .dev {
    display: none;
  }
  .dev2 {
    display: block;
    margin-right: 20px;

    font-size: 1.5rem;
    color: #daa520;
    font-weight: 800;
    font-family: "Courier New", Courier, monospace;
  }
  /*   .nav {
    height: 50px;
  } */
  .biografia {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    text-align: center;
  }
  .biografia,
  .sobreMim {
    margin-top: 20px;
  }

  .foto {
    grid-row: 1;
  }
}
