@media (max-width: 620px) {
  body {
    grid-template-columns: 0px 1fr 0px;
  }
  .header {
    grid-column: 1/4;
  }
  .home h1 {
    font-size: 1.5rem;
  }
  .home p {
    font-size: 0.897rem;
  }
  .sobre h1 {
    font-size: 1.5rem;
  }
  .sobre p {
    font-size: 0.897rem;
  }
  .home .img-dev {
    width: 350px;
  }

  .meus-projetos h1 {
    font-size: 1.5rem;
  }
  .contato h1 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .redes {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
    gap: 20px;
  }
}
