@media (max-width: 620px) {
  body {
    grid-template-columns: 0px 1fr 0px;
  }
  .header {
    grid-column: 1/4;
  }
  .home h1 {
    font-size: 2rem;
  }
  .home p {
    font-size: 1rem;
  }
  .sobre h1 {
    font-size: 2rem;
  }
  .sobre p {
    font-size: 1.5rem;
  }
  .home .img-dev {
    width: 350px;
  }
  .qualificacao {
    width: auto;
  }
  .descricao {
    width: 250px;
    padding: 10px;
  }
  .meus-projetos h1 {
    font-size: 1.5rem;
    white-space: 0;
  }
  .contato h1 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .redes {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
    gap: 20px;
  }
}
