@media (max-width: 950px) {
  /*  .biografia {
    display: grid;
    grid-template-rows: 20px;
  } */
  .biografia h1 {
    font-size: 3.5rem;
  }

  .foto {
    display: none;
    grid-row: 1;
    width: 250px;
  }
  .experiencia {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
  }
  .titulo {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    justify-self: center;
    font-size: 3.5rem;
  }

  .projetos div {
    background: #222;
  }
}
@media (max-width: 750px) {
  .biografia h1 {
    font-size: 2.8rem;
  }
  .biografia p {
    text-align-last: left;
  }
  .titulo {
    font-size: 2.8rem;
  }
}

@media (max-width: 500px) {
  .containerGeral {
    grid-template-columns: 0px 1fr 0px;
  }
  .upContainer {
    grid-template-columns: 0 1fr 0;
  }
  .biografia h1 {
    font-size: 1.8rem;
    margin-top: -20px;
  }
  .biografia p {
    text-align-last: left;
  }
  .titulo {
    font-size: 1.8rem;
  }
  .dev2 {
    font-size: 0.5rem;
  }

  .menu a {
    font-size: 0.897rem;
  }
  .link-do-projeto {
    font-size: 0.75rem;
  }
}
